@model WebApplication1.Models.Modele

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Modele</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marki.NazwaMarki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marki.NazwaMarki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazwaModelu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaModelu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdModelu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
