@using System.Web.Mvc
@model WebApplication1.Models.Potwierdzenie_odbioru

@{

    var q = ViewBag.CzesciSzczegoły;
    ViewBag.Title = "Create";
}

<h2>Rozliczenie naprawy</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Potwierdzenie odbioru</h4>
        <hr />
        <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript">
            var id=0;
            var sumadotychczas=0;
            var cos=0;
            var licznik=0;
            var array = [];
            var wykorzystane_elementy=[];
            var sumaczesci=0;
            var staraczesc=0;
            var nowaczesc2=0;
            var robocizna=0;
            var cenakoncowa=0;
            var zarobote=0;
            var robotadotychczas=0;
            var namesss=0;

            $(document).ready(function (e) {
                $("#submit1").click(function (e) {

                    var podliczenia = $("#Wycena").attr("placeholder");
                    // var priceces = parseFloat(podliczenia).toFixed(2);
                 //   document.getElementById("Wycena2").value=podliczenia*100;
                    document.getElementById("Wycena").value=podliczenia.toString();
                });

                document.getElementById("Wycena").setAttribute('readonly', 'readonly');
                $("#Robocizna").click(function (e) {
                    robotadotychczas=$("#Robocizna").val();
                });
                $("#Robocizna").change(function (e) {

                    zarobote=$("#Robocizna").val();
                    sumaczesci+=zarobote*1-robotadotychczas*1;
                    var sumaczesci21=Math.round(sumaczesci * 100) / 100;
                    document.getElementById("Wycena").setAttribute('placeholder',sumaczesci21*1);

                });
                var cenakoncowa=0;

        array = @Html.Raw(
    Json.Encode(
  ((IEnumerable<WebApplication1.Models.Magazyn>)ViewBag.CzesciSzczegoły).Select(czesci => new
        {
            czesci.IdCzesci,
            czesci.Nazwa,
            czesci.StanMagazynowy,
            czesci.Numer_Seryjny,
            czesci.SugCenaSprz
        })
    )


);

    });
            function dodaj_element(kontener){
                id=id+1;

                
                //var sumowanie=document.getElementById("Wycena");
                //sumowanie.setAttribute('readonly', 'readonly');
                var znacznik = document.createElement('select');
                var ilosc = document.createElement('select');
                ilosc.setAttribute('id', 'ilosc'+id);
                var cena= document.createElement('input');
                cena.setAttribute('class','polezmianyceny');
                ilosc.setAttribute('class','ilosci');
                cena.setAttribute('id', 'cena'+id);
                cena.setAttribute('name', 'cena'+id);
                var suma= document.createElement('input');
                suma.setAttribute('id','suma'+id);
                suma.setAttribute('readonly', 'readonly');
                znacznik.setAttribute('class', 'form-control');
                znacznik.setAttribute('name', 'czesc'+id);
                ilosc.setAttribute('name', 'ilosc'+id);
                ilosc.setAttribute('id', 'ilosc'+id);
                znacznik.setAttribute('id', 'czesc'+id);
                var kontener = document.getElementById(kontener);
                kontener.appendChild(znacznik);
                kontener.appendChild(ilosc);
                kontener.appendChild(cena);
                kontener.appendChild(suma);

                if(wykorzystane_elementy=='')wykorzystane_elementy[licznik]=0;
                var iteracja=0;
                var nazwy = $.map(array, function (item) {
                    for (i in wykorzystane_elementy)
                    {
                        if(item.IdCzesci.toString()==wykorzystane_elementy[i].toString()) return;
                    }

                    if(iteracja==0){cos=item.IdCzesci.toString();licznik=licznik+1;}
                    iteracja=iteracja+1;
                    return "<option value=" + item.IdCzesci + ">" +item.Nazwa  + "</option>";
                });
                wykorzystane_elementy[licznik-1]=cos;
                

                $("#czesc"+id.toString()).empty();
                $("#czesc"+id.toString()).html(nazwy.join(""));
                var aktczescid = $("#czesc"+id.toString()).val();
                var stanmagazynowy = $.map(array, function (item) {
                    if(item.IdCzesci==aktczescid)
                        return item.StanMagazynowy;

                });
                var cenasugerowana = $.map(array, function (item) {
                    if(item.IdCzesci==aktczescid)
                        return item.SugCenaSprz;

                });
                var tablica=[];
                var tekst='';
                for(var i=0;i<=stanmagazynowy;i++)
                {
                    tablica[i]=i;
                }
                var q=-1;
                var tekst = $.map(tablica, function (item) {
                    q++;
                    return "<option value=" + tablica[q] + ">" +""+tablica[q]  + "</option>";


                });

                $("#ilosc"+id.toString()).empty();
                $("#ilosc"+id.toString()).html(tekst.join(""));
                cena.setAttribute('placeholder',cenasugerowana);

                $(".polezmianyceny").change(function (e) {
                    var i=0;
                    for (i=1;i<=id;i++)
                    {
                        var nazwa1= ("$(#ilosc"+i.toString()+")").toString();
                        var ilosc = $("#ilosc"+i.toString()).val();
                        var wart=$("#cena"+i.toString()).val();
                        var sum=ilosc*1*wart*1;
                        sum=Math.round(sum*100)/100;
                        document.getElementById("suma"+i.toString()).value=sum;
                    }
                    var j=0;
                    sumaczesci=0;
                    for (j=1;j<=id;j++)
                    {  
                    var podsuma=$("#suma"+j.toString()).val();
                    sumaczesci+=podsuma*1;
                                        
                    }
                    zarobote=$("#Robocizna").val();
                    sumaczesci=sumaczesci*1;
                    sumaczesci+=zarobote*1;
                    sumaczesci=sumaczesci*1;
                    sumaczesci=Math.round(sumaczesci * 100) / 100;
                    document.getElementById("Wycena").setAttribute('placeholder',sumaczesci);

                });
                $(".ilosci").change(function (e) {
                    var i=0;
                    for (i=1;i<=id;i++)
                    {
                        var nazwa1= ("$(#ilosc"+i.toString()+")").toString();
                        var ilosc = $("#ilosc"+i.toString()).val();
                        var wart=$("#cena"+i.toString()).val();
                        var sum=(ilosc*1)*(wart*1);
                        sum=Math.round(sum*100)/100;
                        document.getElementById("suma"+i.toString()).value=sum;
                    }
                    var j=0;
                    sumaczesci=0;
                    for (j=1;j<=id;j++)
                    { 

                    var podsuma=$("#suma"+j.toString()).val();
                    sumaczesci+=podsuma*1;

                    sumaczesci=Math.round(sumaczesci * 100) / 100;
                    }
                    // sumaczesci+=ilezarobote*1;
                     zarobote=$("#Robocizna").val();
                    sumaczesci+=zarobote*1;
                    sumaczesci=Math.round(sumaczesci * 100) / 100;
                    document.getElementById("Wycena").setAttribute('placeholder',sumaczesci);


                });
                $(".form-control").change(function (e) {
                    var ktory=($(this).attr('id'));
                    var res = ktory.substr(5, 2);
                    var liczenie=0;
                    var b = document.getElementById(ktory);
                    nowaczesc2 = b.options[b.selectedIndex].value;
                    for(liczenie=1;liczenie<=(res*1)-1;liczenie++)
                    {

                        var select=document.getElementById('czesc'+liczenie.toString());
                        for (i=0;i<select.length;  i++) {
                            if (select.options[i].value==nowaczesc2) {
                                select.remove(i);
   
                            }
                        }
                    }
                    var liczenieforward=0;
                    for(liczenieforward=(res*1)+1;liczenieforward<=id;liczenieforward++)
                    {
                        alert("Działa");
                        var select=document.getElementById('czesc'+liczenieforward.toString());
                        for (i=0;i<select.length;i++) {
                            if (select.options[i].value==nowaczesc2) {
                                select.remove(i);
   
                            }
                        }
                    }
                    var q=1;
                    for (q=1;q<=id;q++)
                        {
                        var a = document.getElementById(ktory);
                        var nowaczesc1 = a.options[a.selectedIndex].value;
                        var ilicznik=0;
                        for (op in wykorzystane_elementy)
                        {
                            if(wykorzystane_elementy[op]==staraczesc.toString())
                            {
                                
                                wykorzystane_elementy[op]=nowaczesc1;
                            }
                        }

                   }
      
                    for (var j=1;j<=id;j++)
                    {
                        var e = document.getElementById(ktory);
                        var nowaczesc = e.options[e.selectedIndex].value;
                        nowaczesc=nowaczesc*1;

                        var stanmagazynowy = $.map(array, function (item) {
                            if(item.IdCzesci*1==nowaczesc*1)
                                return item.StanMagazynowy;

                        });
                        var cenasugerowana = $.map(array, function (item) {
                            if(item.IdCzesci*1==nowaczesc*1)
                                return item.SugCenaSprz;
                        });
                            var price = document.getElementById('cena'+res.toString());
                            var tablica=[];
                            var tekst='';
                            for(var i=0;i<=stanmagazynowy;i++)
                            {
                                tablica[i]=i;
                            }
                            var q=-1;
                            var tekst = $.map(tablica, function (item) {
                                q++;
                                return "<option value=" + tablica[q] + ">" +""+tablica[q]  + "</option>";


                            });
                        $("#ilosc"+res.toString()).empty();
                            $("#ilosc"+res.toString()).html(tekst.join(""));
                            var k=0;
                            for (k=1;k<=id;k++)
                            if(ktory=="czesc"+k.toString())
                            {
                                document.getElementById("cena"+res.toString()).value=null;
                                document.getElementById("suma"+res.toString()).value=null;
                                document.getElementById("cena"+res.toString()).setAttribute('placeholder',cenasugerowana);
                            }
                            var j=0;
                            sumaczesci=0;
                            for (j=1;j<=id;j++)
                            {   

                                var podsuma=$("#suma"+j.toString()).val();
                                sumaczesci+=podsuma*1;
                                sumaczesci=Math.round(sumaczesci * 100) / 100;
                            }
                            var zarobote=$("#Robocizna").val();
                            sumaczesci+=zarobote*1;
                            sumaczesci=Math.round(sumaczesci * 100) / 100;
                        
                            document.getElementById("Wycena").setAttribute('placeholder',sumaczesci);


                        
                    }
                });

                $(".form-control").click(function (e) {
                    var ktory1=($(this).attr('id'));
                    var e = document.getElementById(ktory1);
                    staraczesc = e.options[e.selectedIndex].value;
                    staraczescnazwa=e.options[e.selectedIndex].text;
                });
                if(id!=1)
                {
                    nowaczesc2 = document.getElementById("czesc"+id.toString()).value;
                    for(liczenie=1;liczenie<=id-1;liczenie++)
                    {

                        var select=document.getElementById('czesc'+liczenie.toString());
                        for (i=0;i<select.length;  i++) {
                            if (select.options[i].value==nowaczesc2) {
                                select.remove(i);
   
                            }
                        }
                    }
                }
                $("#submit1").click(function (e) {

                    var podliczenia = $("#Wycena").attr("placeholder");
                    var q=document.getElementById("Wycena").value=podliczenia*1;
                });


            }

        </script>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Naprawę wykonał:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Pracownicy", null, htmlAttributes: new { name = "Pracownicy", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Robocizna:", htmlAttributes: new { @class = "control-label col-md-2" })            
            <div class="col-md-10">
                @*<input hidden="hidden" id="wycenaczesciowa" class="form-control text-box single-line valid" type="text" value="" readonly="readonly" name="wycenaczesciowa" data-val-required="Pole Wycena jest wymagane." data-val-number="The field Wycena must be a number." data-val="true" aria-required="true" aria-describedby="Wycena-error" aria-invalid="false"></input>*@
                @*@Html.EditorFor(model => model.Wycena, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })*@
                @Html.Editor("Robocizna")


                @*@Html.ValidationMessageFor(model => model.Wycena, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Dodaj wykorzystane części", htmlAttributes: new { @class = "control-label col-md-2" })

            <div id="zuzyteczesci" class="col-md-10">
                <button id="add_czesci" onclick="dodaj_element('zuzyteczesci')" class="btn btn-default">+</button>
                <hr />
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Wycena, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<input hidden="hidden" id="wycenaczesciowa" class="form-control text-box single-line valid" type="text" value="" readonly="readonly" name="wycenaczesciowa" data-val-required="Pole Wycena jest wymagane." data-val-number="The field Wycena must be a number." data-val="true" aria-required="true" aria-describedby="Wycena-error" aria-invalid="false"></input>*@
                @*@Html.EditorFor(model => model.Wycena, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })*@
                @Html.Editor("Wycena")
                @Html.Hidden("IdPrzyjecia")
                @Html.Hidden("Wycena2")

                @*@Html.ValidationMessageFor(model => model.Wycena, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submit1" value="Rozlicz" class="btn btn-default" onsubmit="submiteventhandler" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>

@section Scripts {
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}


