@model WebApplication1.Models.Potwierdzenie_odbioru

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Potwierdzenie_odbioru</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Klient.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klient.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProtokolPrzyjecia.KlientRefId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProtokolPrzyjecia.KlientRefId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Samochod.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Samochod.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wycena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wycena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_odbioru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_odbioru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProtokolPrzyjeciaRefId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProtokolPrzyjeciaRefId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPotwierdzenia_odbioru }) |
    @Html.ActionLink("Back to List", "Index")
</p>
